* {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 38px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  margin-bottom: 50px;
  font-size: 18px;
}
